doctype html
html(lang="es")
    head
        title Cristianeto
    body
        h1 Pug - node template engin
        include _blocks/menu.pug
        #container.col
            if youAreUsingPug
                p You are amazing
            else
                p Get on it!
            p.
                Pug is a terse and simple templating language with a
                strong focus on performance and powerful features
        article kjhkjhkjhkjs