/* line 1, /Users/Cristian/Develop/workFlow-gulp/assets/scss/misEstilos.scss */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: tomato;
  color: blue;
}

/* line 5, /Users/Cristian/Develop/workFlow-gulp/assets/scss/misEstilos.scss */
body p {
  color: #fff;
  background: silver;
}
